:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  display: grid;
  justify-content: center;
}

main {
  width: 600px;

  output {
    display: block;
    white-space: pre-line;
    height: calc(100vh - 580px);
    max-height: calc(100vh - 580px);
    overflow: auto;
  }

  output + div {
    display: flex;
    padding: 16px 0;
    column-gap: 16px;
    justify-content: space-between;
  }
}

// button:disabled {
//   background-color: white;
//   color: black;
// }

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  textarea {
    flex: 1;
    max-height: 80px;
  }
}